.btn{
    background-color: blue;
    border:none;
    color: white;
    padding: 16px 32px;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 10px;
    box-shadow: 0 6px #999;
    transition: 0.2s;
}

.btn:hover{
    background-color: lightseagreen;
    color: white;
}

.btn:active{
    box-shadow: 0 4px #666;
    transform: translateX(1px) translateY(1px)    
}

#player, #computer, #result{
    display:none;
}

.result{
    background-color: blanchedalmond;
    width: 300px;
    height: 75px;
    border:2px solid black;
    padding: 5px;
    margin:10px;
    display:flex;
    justify-content: center;
    align-items: center;
}